  <!DOCTYPE html>
  <html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bem Vindo - Lista de Jogo</title>
  </head>
  <body>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <style>
    body {
  background-image: url("background.jpg");
  color: white;
}

.container {
  max-width: 650px;
  margin-top: 155px;
}

  </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <title>Jogos</title>
    </head>
    <body>
      <div id="app" class="container">
        <h1>Cadastro de Jogos</h1>

        <div id="list" v-if="isList">
          <button class="btn btn-secondary" v-on:click="novoJogo()">
            Inserir novo jogo
          </button>
          <div class="row my-3 p-2 border" v-for="jogo in lista">
            <div class="col-6" id="nomeJogo">
              {{ jogo.nomeJogo }}
            </div>
            <div class="col-2 text-center">
              <button
                class="btn btn-primary"
                v-on:click="verDetalhes(jogo.id) "
              >
                Detalhes
              </button>
            </div>
            <div class="col-2">
              <button class="btn btn-warning" id v-on:click="editarJogo(jogo.id)">
                Editar
              </button>
            </div>
            <div class="col-2 text-center">
              <button class="btn btn-danger" v-on:click="deletarJogo(jogo.id) ">
                Apagar
              </button>
            </div>
          </div>
        </div>

        <div id="details" v-if="isDetails">
          <h1 id="jogo-title"> {{ jogo.nomeJogo }}</h1>
          <h2>{{ jogo.anoLancamento }}</h2>
          <h2>{{ jogo.genero }}</h2>
          <h2>{{ jogo.valor }}</h2>
          <div>
            <button class="btn btn-warning" id v-on:click="showList()">
              Voltar
            </button>
          </div>
        </div>

        <div id="cadastro" v-if="isForm">
          <div class="row">
            <div class="form-group col-md-8">
              <label for="nomeJogo">Nome</label>
              <input
                type="text"
                class="form-control"
                name="nomeJogo"
                id="nomeJogo"
                v-model="jogo.nomeJogo"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="anoLancamento">Ano de Lançamento</label>
              <input
                type="number"
                class="form-control"
                name="anoLancamento"
                id="anoLancamento"
                v-model="jogo.anoLancamento"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-7">
              <label for="genero">Gênero</label>
              <input
                type="text"
                class="form-control"
                name="genero"
                id="genero"
                v-model="jogo.genero"
              />
            </div>
            <div class="form-group col-md-5">
              <label for="valor">Valor</label>
              <input
                type="number"
                class="form-control"
                name="valor"
                id="valor"
                v-model="jogo.valor"
              />
            </div>
          </div>
          <br>
          <div>
            <button class="btn btn-success" id v-on:click="cadastrarJogo()">
              Salvar
            </button>
            <button class="btn btn-warning" id v-on:click="showList()">
              Voltar
            </button>
          </div>
        </div>
      </div>

      <script>
        var app = new Vue({
          el: "#app",
          data: {
            isList: false,
            isDetails: false,
            isForm: false,
            lista: [],
            jogo: {},
          },
          methods: {
            showList: function () {
              this.isList = true;
              this.isDetails = false;
              this.isForm = false;
            },
            showDetails: function () {
              this.isList = false;
              this.isDetails = true;
              this.isForm = false;
            },
            showForm: function () {
              this.isList = false;
              this.isDetails = false;
              this.isForm = true;
            },
            listarTodos: function () {
              fetch("http://localhost:8080/")
                .then((resposta) => resposta.json())
                .then((objetoLista) => {
                  this.lista = objetoLista;
                });
            },
            lerDetalhes: function (id) {
              this.jogo = this.lista.find((item) => item.id == id);

            },
            deletarJogo: function (id) {
              fetch("http://localhost:8080/deletar/" + id).then(() => {
                this.listarTodos();
                this.jogo = {};
              });
            },
            cadastrarJogo: function () {
              const headers = new Headers({
                "Content-Type": "application/json",
              });
              fetch("http://localhost:8080/adicionar/", {
                method: "POST",
                headers,
                body: JSON.stringify(this.jogo),
              })
                .then((resposta) => resposta.json())
                .then((objetoJogo) => {
                  this.jogo = objetoJogo;
                  this.listarTodos();
                  this.showList();
                  this.showDetails(this.jogo.id);
                });
            },
            limpaCampos: function () {
              this.jogo = {};
            },
            novoJogo: function () {
              this.limpaCampos();
              this.showForm();
            },
            editarJogo: function (id) {
              this.lerDetalhes(id);
              this.showForm();
            },
            verDetalhes: function (id) {
              this.lerDetalhes(id);
              this.showDetails();
            },
          },
          created: function () {
            this.listarTodos();
            this.showList();
          },
        });
      </script>

      <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"
      ></script>
    </body>
  </html>